# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Database
database/app.db
